In [136]:
import datetime
import email
import imaplib
import mailbox
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import re
import glob
from numpy import nansum
from numpy import nanmean
import datetime
import functools
from datetime import datetime

In [137]:
import math
from scipy.optimize import brentq
Gamma=0.66

#----------------numerical solution--------------------------
# Tw + (es*(Tw))/𝛾 = Ta + ea/ 𝛾
# Ta air temperature 
# RH relative humidit
def TwNumerical(Ta,RH):
    SaturatedVPTa = 6.11* np.exp( (17.269*Ta) / (237.3+Ta) )
    VaporPressure = SaturatedVPTa*RH/100.0    
    def GetRoot(Tw):
        SaturatedVPTw = 6.11* np.exp( (17.269*Tw) / (237.3+Tw) )
        Function = Tw + SaturatedVPTw/Gamma-Ta-VaporPressure/Gamma
        return Function
    root,info = brentq(GetRoot,-20,50, full_output=True)
    return root


#----------------stull's formula----------------------
# use Stull's formula to calculate wet bulb temperature
# Ta air temperature 
# RH relative humidity
def Tw_Stull(Ta, RH):
    Tw_Stull=Ta*np.arctan(0.151977*(RH+8.313659)**0.5)+\
            np.arctan(Ta+RH)-np.arctan(RH-1.676331)+\
            np.arctan(0.023101*RH)*0.00391838*RH**(3./2.)-4.686035
    return Tw_Stull

def Clean_table_TW(df, st, tr):

    df['Lon'] = df['Lon'].str.replace('W','-').str.replace('E','').str.replace(' ','').astype(float)
    df['Lat'] = df['Lat'].str.replace('S','-').str.replace('N','').str.replace(' ','').astype(float)
    df['Temp'] = df['Temp'].str.replace('C','').str.replace(' ','').astype(float)
    df['Temp']=(df['Temp']-32)*5/9
    df['RH'] = df['RH'].str.replace('%','').str.replace(' ','').astype(float)
    df['Time']= pd.to_datetime(st[4:6]+'-'+st[-2:]+'-'+st[0:4]+ ' ' + df['Time'])
    #df['Biked']=np.nan
    #df['Biked'][0]=(df['Time'][df.shape[0]-1]-df['Time'][0]).seconds/60
    #df['Date']=np.nan
    #df['Date'][0]=str('Trip '+tr+' ('+st[4:6]+'-'+st[-2:]+'-'+st[0:4]+')')
    #df['Date_all']=str('Trip '+tr+' ('+st[4:6]+'-'+st[-2:]+'-'+st[0:4]+')')
    #df['Time']=df['Time'].replace(year=int(st[0:4]), month=int(st[4:6]), day=int(st[-2:]))
    df['Tw_Numerical']=df.apply(lambda x: TwNumerical(x['Temp'], x['RH']), axis=1)
    df['Tw_Stull']=Tw_Stull(df['Temp'], df['RH'])
    
    
    
    
    df = df.fillna('')
    return df

In [138]:
Dat_list=glob.glob('Bike study-6/*.txt')
Dat_list

['Bike study-6\\20191002-evening.txt',
 'Bike study-6\\20191002-morning.txt',
 'Bike study-6\\20191003-evening.txt',
 'Bike study-6\\20191003-morning.txt',
 'Bike study-6\\20191004-evening.txt',
 'Bike study-6\\20191004-morning.txt',
 'Bike study-6\\20191022-evening.txt',
 'Bike study-6\\20191022-morning.txt',
 'Bike study-6\\20191023-evening.txt',
 'Bike study-6\\20191023-morning.txt',
 'Bike study-6\\20191025-evening.txt',
 'Bike study-6\\20191025-morning.txt',
 'Bike study-6\\20191028-evening.txt',
 'Bike study-6\\20191028-morning.txt',
 'Bike study-6\\20191029-evening.txt',
 'Bike study-6\\20191029-morning.txt',
 'Bike study-6\\20191030-evening.txt',
 'Bike study-6\\20191030-morning.txt',
 'Bike study-6\\20191031-evening.txt',
 'Bike study-6\\20191031-morning .txt',
 'Bike study-6\\20191115.txt',
 'Bike study-6\\20191118.txt',
 'Bike study-6\\20191120-morning.txt',
 'Bike study-6\\20191120.txt',
 'Bike study-6\\20191122.txt',
 'Bike study-6\\20191125.txt',
 'Bike study-6\\20200224evening.txt',
 'Bike study-6\\20200224morning.txt',
 'Bike study-6\\20200225evening.txt',
 'Bike study-6\\20200225morning.txt',
 'Bike study-6\\20200226evening.txt',
 'Bike study-6\\20200226morning.txt',
 'Bike study-6\\20200227morning.txt',
 'Bike study-6\\20200227wvwning.txt',
 'Bike study-6\\20200228evening.txt',
 'Bike study-6\\20200228morning.txt',
 'Bike study-6\\20200302evening.txt',
 'Bike study-6\\20200302morning.txt',
 'Bike study-6\\20200303evening.txt',
 'Bike study-6\\20200303morning.txt',
 'Bike study-6\\20200304evening.txt',
 'Bike study-6\\20200304morning.txt',
 'Bike study-6\\20200305morning.txt',
 'Bike study-6\\20200306evening.txt',
 'Bike study-6\\20200306morning.txt',
 'Bike study-6\\20200309evening.txt',
 'Bike study-6\\20200309morning.txt',
 'Bike study-6\\20200310evening.txt',
 'Bike study-6\\20200310morning.txt',
 'Bike study-6\\20200311evening.txt',
 'Bike study-6\\20200311morning.txt',
 'Bike study-6\\20200312.wveningtxt.txt',
 'Bike study-6\\20200312morning.txt']

In [193]:
# Read csvs and clean data
Dat_all=[]
ii=1
for item in Dat_list:
    Dat=pd.read_csv(item, names=["Time", "Lon", "Lat", "ID","Temp","RH"]) 
    Dat_clean=Clean_table_TW(Dat, str(item)[13:21], "{:0>2}".format(str(ii)))
    Dat_all.append(Dat_clean)
    ii=ii+1

In [194]:
#(result['Time'][145292]-result['Time'][0]).seconds

In [203]:
#Concatanate into one data frame
result= pd.concat(Dat_all, ignore_index=True)
result
##Remove duplicate datetimes
result=result.drop_duplicates(subset=['Time']).sort_values(['Time']).reset_index()
result

,index,Time,Lon,Lat,ID,Temp,RH,Tw_Numerical,Tw_Stull
0,0,2019-10-02 08:08:12,-72.90217,41.35806,AFF9,23.500000,79.62,20.923797,20.838650
1,1,2019-10-02 08:08:13,-72.90217,41.35806,AFF9,23.527778,79.54,20.939260,20.854587
2,2,2019-10-02 08:08:14,-72.90216,41.35806,AFF9,23.527778,79.46,20.928626,20.843884
3,3,2019-10-02 08:08:15,-72.90216,41.35806,AFF9,23.500000,79.38,20.891918,20.806557
4,4,2019-10-02 08:08:16,-72.90217,41.35805,AFF9,23.527778,79.34,20.912667,20.827826
...,...,...,...,...,...,...,...,...,...
112548,143666,2020-03-12 13:44:27,-72.90227,41.35798,AFF9,9.200000,60.01,5.803058,5.305589
112549,143667,2020-03-12 13:44:28,-72.90227,41.35798,AFF9,9.172222,59.87,5.766360,5.268015
112550,143668,2020-03-12 13:44:30,-72.90227,41.35798,AFF9,9.177778,59.72,5.757764,5.259496
112551,143669,2020-03-12 13:44:33,-72.90229,41.35799,AFF9,9.177778,59.60,5.747017,5.248692
112552,143670,2020-03-12 13:44:34,-72.90229,41.35799,AFF9,9.200000,59.19,5.729545,5.231711

In [215]:
## Add Biked and Date column
result['Date']=np.nan
result['Date_all']=np.nan
result['Biked']=np.nan
kk=0
for index, row in result.iterrows():
    result['Date_all'][index]=str(result['Time'][kk])  
    if (index<=len(result)-2):
        if(((result['Time'][index+1]-result['Time'][index]).seconds>=300)):
            result['Biked'][kk]=(result['Time'][index]-result['Time'][kk]).seconds/60
            result['Date'][kk]=str(result['Time'][kk])
            result['Date_all'][index]=str(result['Time'][kk])
            kk=index+1
    else:
        result['Biked'][kk]=(result['Time'][index]-result['Time'][kk]).seconds/60
        result['Date'][kk]=str(result['Time'][kk])
        result['Date_all'][index]=str(result['Time'][kk])
        kk=index+1
        #result['Biked'][index]=np.nan
        #result['Date'][index]=np.nan
#     if (index==0):
#         #result['Biked'][index]=np.nan
#         #result['Date'][index]=np.nan
#         result['Date_all'][index]=str(result['Time'][index])
#         result['Date'][index]=str(result['Time'][index])
#         result['Biked'][index]=(result['Time'][kk]-result['Time'][index]).seconds/60

C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\tirth\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [224]:
#Fin=result[(result['Biked']<=240) | (result['Biked']).isnull()]
#Remove cases where someone biked for 0 time
Fin=result[(result['Biked']>=5) | (result['Biked']).isnull()]
Fin=Fin[['Time', 'Lon', 'Lat', 'ID', 'Temp', 'RH', 'Biked','Date','Date_all','Tw_Numerical','Tw_Stull']]
Fin

,Time,Lon,Lat,ID,Temp,RH,Biked,Date,Date_all,Tw_Numerical,Tw_Stull
0,2019-10-02 08:08:12,-72.90217,41.35806,AFF9,23.500000,79.62,39.4,2019-10-02 08:08:12,2019-10-02 08:08:12,20.923797,20.838650
1,2019-10-02 08:08:13,-72.90217,41.35806,AFF9,23.527778,79.54,NaN,NaN,2019-10-02 08:08:12,20.939260,20.854587
2,2019-10-02 08:08:14,-72.90216,41.35806,AFF9,23.527778,79.46,NaN,NaN,2019-10-02 08:08:12,20.928626,20.843884
3,2019-10-02 08:08:15,-72.90216,41.35806,AFF9,23.500000,79.38,NaN,NaN,2019-10-02 08:08:12,20.891918,20.806557
4,2019-10-02 08:08:16,-72.90217,41.35805,AFF9,23.527778,79.34,NaN,NaN,2019-10-02 08:08:12,20.912667,20.827826
...,...,...,...,...,...,...,...,...,...,...,...
112548,2020-03-12 13:44:27,-72.90227,41.35798,AFF9,9.200000,60.01,NaN,NaN,2020-03-12 13:20:58,5.803058,5.305589
112549,2020-03-12 13:44:28,-72.90227,41.35798,AFF9,9.172222,59.87,NaN,NaN,2020-03-12 13:20:58,5.766360,5.268015
112550,2020-03-12 13:44:30,-72.90227,41.35798,AFF9,9.177778,59.72,NaN,NaN,2020-03-12 13:20:58,5.757764,5.259496
112551,2020-03-12 13:44:33,-72.90229,41.35799,AFF9,9.177778,59.60,NaN,NaN,2020-03-12 13:20:58,5.747017,5.248692
112552,2020-03-12 13:44:34,-72.90229,41.35799,AFF9,9.200000,59.19,NaN,NaN,2020-03-12 13:20:58,5.729545,5.231711

In [225]:
Fin.to_csv('Compiled_Sara.csv')

In [226]:
ss=Fin.groupby('Date').max()
Final=pd.DataFrame(ss.index)

Final[Final['Date']==""]=np.nan
Final=Final.dropna()
Final

                   Date
0   2019-10-02 08:08:12
1   2019-10-02 17:13:48
2   2019-10-03 08:11:55
3   2019-10-03 16:57:48
4   2019-10-04 08:11:33
5   2019-10-22 08:24:14
6   2019-10-22 17:12:18
7   2019-10-23 17:06:32
8   2019-10-28 17:18:29
9   2019-10-29 08:22:27
10  2019-10-30 08:00:50
11  2019-10-30 16:57:41
12  2019-10-31 08:23:17
13  2019-10-31 16:59:50
14  2019-11-15 08:02:02
15  2019-11-15 15:23:38
16  2019-11-20 08:15:54
17  2019-11-20 17:00:14
18  2019-11-22 08:27:57
19  2019-11-22 16:14:08
20  2019-11-25 08:03:36
21  2019-11-25 16:28:14
22  2020-02-24 08:24:48
23  2020-02-24 17:13:06
24  2020-02-25 08:14:32
25  2020-02-25 18:01:21
26  2020-02-26 08:14:42
27  2020-02-26 17:05:19
28  2020-02-27 08:22:30
29  2020-02-27 16:44:25
30  2020-02-28 08:28:10
31  2020-02-28 15:01:48
32  2020-03-02 17:00:31
33  2020-03-03 08:18:24
34  2020-03-03 17:15:10
35  2020-03-04 08:24:54
36  2020-03-04 16:56:11
37  2020-03-05 08:14:13
38  2020-03-06 08:02:30
39  2020-03-06 16:19:59
40  2020-03-09 08:21:50
41  2020-03-09 17:34:01
42  2020-03-10 17:02:34
43  2020-03-11 08:26:13
44  2020-03-11 17:11:50
45  2020-03-12 08:47:55
46  2020-03-12 13:20:58

In [227]:
Final.to_csv('Compiled_Sara_Date.csv')